@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Indie+Flower&display=swap");

:root{
  --solaris: hsl(48, 100%, 94%);
  --solaris-stroke: hsl(250, 2%, 60%);

  --colour1-end: rgb(236, 140, 28);
  --colour2-middle: color-mix(in srgb, var(--colour1-end) 70%, var(--colour2-end) 30%);
  --colour2-end: rgb(221, 144, 144);
  --colour3-middle: color-mix(in srgb, var(--colour2-end) 40%, var(--colour3-end) 60%);
  --colour3-end: rgb(75, 114, 197);
  --colour1-middle: color-mix(in srgb, var(--colour3-end) 75%, var(--colour1-end) 25%);
  
  --button-colour1: rgb(50, 50, 50);
  --button-colour2: rgb(98, 203, 206);
  --button-colour3: rgb(251, 152, 71);

  --nav-margin: calc(3.5vw - 1.5vh);
  --nav-open-delay: 0.4s;
  --nav-section-width: calc(34vw - 1.5vh);
  --nav-link-hover-scale: 1.03;

  --rise-big: -120px;
  --rise-small: -50px;
  --product-rise: var(--rise-big);

  --nav-height: max(6vh,calc(4vw + 4vh));
  --can-shadow: rgba(235, 235, 235, 0.18);
  --can-dark-shadow: rgba(117, 117, 117, 0.3);


  --dash-border-opacity: 1;
  --frameInvisible: 0;
}

/* 
    NAV BAR SECTION: 
*/

.nav{
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: var(--nav-height);
  max-height: var(--nav-height);
  transition: all 0.4s ease-out var(--nav-open-delay);
  top: 0;
  left: 0px;
  margin: 0px;
  padding: 0px;
  z-index: 7;
  mix-blend-mode: soft-light;
}

.nav.closed{
  backdrop-filter: blur(11px);
  mix-blend-mode: soft-light;
  transition: all 0.4s ease-in-out 0.3s;
}


.nav-div{
  display: flex;
  justify-content: space-between;
  width: var(--nav-section-width);
  height: 100%;
  padding-top: max(0.4rem, calc(0.04 * var(--nav-height)));
  box-sizing: border-box;
  max-height: 100%;
}

.nav-div:nth-child(1){
  padding-left: min(calc(var(--nav-link-hover-scale) * var(--nav-margin)), 3.5vw);
}

.nav-div:nth-child(2){
  padding-right: min(calc(var(--nav-link-hover-scale) * var(--nav-margin)), 3.5vw);
}

.nav-border{
  --border-margin: var(--nav-margin);
  stroke: var(--solaris);
  --nav-border-height: min(0.8vw,0.3rem);
  stroke-width: var(--nav-border-height);
  height: var(--nav-border-height);
  opacity: 0.5;
  width: var(--nav-section-width);
  transition: margin 0.2s ease-in-out calc(0.15s + var(--nav-open-delay)),
              width 0.4s ease-in-out var(--nav-open-delay),
              top 0.4s ease-out var(--nav-open-delay);
  position: fixed;
  top: calc(var(--nav-height) - var(--nav-border-height));
  z-index: 8;
}

.nav-border.closed{
  transition: margin 0.1s ease-in 0.25s,
              width 0.15s ease-out 0.25s,
              top 0.4s ease-out var(--nav-open-delay);
  width: 50%;
  --border-margin: 0rem;
}

.nav-border.left{
  margin-left: var(--border-margin);
  left: 0;
}

.nav-border.right{
  margin-right: var(--border-margin);
  right: 0;
}

.nav-link{
  position: relative;
  --topMargin: 0.4rem;
  border-radius: 8px;
  line-height: 0.9;
  z-index: 6;
  border: 2px solid rgba(30, 30, 30, 0);
  height: fit-content;
  cursor: pointer;
  text-align: center;
  font-family: 'Indie Flower';
  font-size: min(3.2vw + 1.2vh, 7rem);
  color: var(--solaris);
  opacity: 0.9;
  --scale-squish: 0.85;
  transform: scale(1, var(--scale-squish));
  margin-top: var(--topMargin);
  --link-padding: 0.25em;
  padding: var(--link-padding) var(--link-padding) 0 var(--link-padding);
  transition: all 0.5s ease-in;
  --newMargin: 4rem;
}



.nav-div:nth-child(1) .nav-link:nth-child(1){
  transform-origin: right;
  --direction: 1;
  --scale: 1;
}

.nav-div:nth-child(1) .nav-link:nth-child(2){
  transform-origin: right;
  --direction: 1;
  --scale: 0.5;
}

.nav-div:nth-child(2) .nav-link:nth-child(1){
  transform-origin: left;
  --direction: -1;
  --scale: 0.5;
}

.nav-div:nth-child(2) .nav-link:nth-child(2){
  transform-origin: left;
  --direction: -1;
  --scale: 1;
}

.nav-link:hover{
  box-shadow: calc(-1 * var(--direction) * 2px / var(--scale)) -2px 14px rgba(247, 248, 243, 0.32),
              calc(var(--direction)* 8px * var(--scale)) 10px 14px rgba(15, 13, 12, 1);
  transform: scale(calc(1 * var(--nav-link-hover-scale)), calc(var(--scale-squish) * var(--nav-link-hover-scale)));
  border-bottom: 2px solid rgba(30, 30, 30, 0.4);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  opacity: 1;
  color: hsl(from var(--solaris) h s calc(l + 6));
  margin-top: calc(var(--topMargin) - 0.1rem);
  transition: all 0.8s ease-in-out;  
}

.nav-div:nth-child(1) .nav-link:hover{
  border-right: 2px solid rgba(30, 30, 30, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-div:nth-child(2) .nav-link:hover{
  border-left: 2px solid rgba(30, 30, 30, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.logo{
  position: fixed;
  text-align: center;
  font-family: "Henny Penny";
  --logo-size: min(9.5rem,calc(4vw + 3vh));
  font-size: var(--logo-size);
  left: 50%;
  top: 0;
  line-height: 1.4;
  padding: 0.2em 0rem 0rem 0rem;
  box-sizing: border-box;
  transform-origin: center;
  transform: translateX(-50%);
  font-weight: 500;
  width: auto;
  color: var(--solaris);
  transition: font-size 0.5s ease-in-out calc(0.25s + var(--nav-open-delay)),
              padding 0.5s ease-in-out calc(0.25s + var(--nav-open-delay)),
              filter 0.4s ease-in;
  -webkit-text-stroke: 5px var(--solaris-stroke);
  paint-order: stroke fill;
  mix-blend-mode: normal;
  z-index: 8;
  pointer-events: visible;
  cursor: pointer;
}

.logo:hover{
  filter: brightness(1.1);
}

.logo.small{
  font-size: calc(0.73 * var(--logo-size));
  transition: all 0.3s ease-out 0.1s;
}

/*
    NAV END
*/

/* 
    BACKGROUND SECTION: 
*/

.background-container{
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1;
  margin: 0;
}

.background{
  top: 0;
  left: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  clip-path: circle(0%);
  z-index: 0;
}

.background.current{
  clip-path: circle(100%);
  z-index: 1;
}

.background.grow{
  clip-path: circle(100%);
  transition: clip-path 1.5s ease-out;
  z-index: 2;
}

body{
  margin: 0;
}


.noise{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/Solaris/noise.png");
  background-size: 400px 400px;
  background-repeat: repeat;
  opacity: 0.3;
  z-index: 3;
  isolation: isolate;
}

/*
    BACKGROUND END
/*

/*
    SCROLLABLE CONTENT SECTION
*/

.scrolling-content{
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 200vh;
}

.content{
  position: relative;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
  INCLUDING: 

    STICKY ELEMENTS SECTION
*/

.sun > circle{
  pointer-events: visiblePainted;
}

.sun{
  width: min(650px,45vw);
  pointer-events: none;
  position: absolute;
  stroke: var(--solaris);
  fill: rgb(8, 8, 8);
  z-index: 5;
  left: 2.5vw;
  transition: filter 0.5s ease;
  top: 43vh;
  mix-blend-mode: soft-light;
  transform-origin: center;
  transform: translateX(-50%) translateY(-50%) rotate(-16deg);
}

.sun:hover{
  filter: brightness(0.1);
}

/* 
    CAN SECTION
*/

.product{
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0,0) scale(1,1);
  transition: transform 2.6s ease-in-out,
              filter 0.35s ease-in;
  
  transform-origin: center;
  
}

.product-wrapper{
  pointer-events: none;
  transform-origin: bottom;
  position: fixed;
  --dynamic-width: min(38vmin, 500px); 
  width: var(--dynamic-width);
  height: calc((6/5) * var(--dynamic-width));
  z-index: 6;
  bottom: 10vh;
  left: 50%;
}

.product.disabled{
  transition: filter 0.35s ease-in;
}

.product > *{
  pointer-events: visiblePainted;
}

.product:hover{
  transition: transform 2.6s ease-in-out,
              filter 0.5s ease-in;
  filter: brightness(1.02) drop-shadow(0px -2px 28px var(--can-shadow)) drop-shadow(5px 1px 24px var(--can-shadow)) drop-shadow(-5px 1px 24px var(--can-shadow));
}

.product.rise{
  transform: translate(0, var(--product-rise)) scale(1.02,1.03);
  transition: transform 1.5s ease-in-out 0.2s;
}

.can{
  --offset: calc(var(--can-width) * -3);
  --spin: calc(var(--can-width) * -3.089);
  --can-width: calc(var(--dynamic-width) * 0.56);
  --can-height: calc(var(--can-width) * 2.03);
  --can-pattern-offset: 0.0248;
 
  position: absolute;
  opacity: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  
  background-image:
            var(--url), 
            url("/Solaris/can3.png");
  background-position: calc(0 * var(--spin) + var(--offset)) calc(var(--can-height) * var(--can-pattern-offset)), 0 0;

  background-size: auto calc(100% * (1 - var(--can-pattern-offset))), auto 100%;
  background-repeat: no-repeat;
  
  width: var(--can-width);
 
  height: var(--can-height);
  mask-image: url("/Solaris/can3.png");
  mask-size: auto 100%;
  z-index: 6;
}

.can::before{
  content: "";
  position: fixed;
  bottom: 0;
  left: auto;
  width: 100%;
  height: calc(100% - 15px);
  background:
    url("/Solaris/asfalt-light.png"),
    url("/Solaris/bedge-grunge.png");
  

  background-size: auto, 500px 500px;

    opacity: 0.48;
    filter: contrast(2) brightness(0.55);
}

.can::after{
  content: "";
  position: fixed;
  bottom: 0;
  left: auto;
  width: 100%;
  height: calc(100% - 15px);
  background:
    linear-gradient(89deg,
      rgba(255,255,255,0.35) 0% 6%,
      rgba(255,255,255,0) 15% 62%,
      rgba(255,255,255,0.65) 73% 76%,
      rgba(255,255,255,0.15) 82%,
      rgba(255,255,255,0) 88%,
      rgba(255,255,255,0.2) 94%
    ),
    linear-gradient(0deg, 
      rgba(255,255,255,0.35) 0%,
      rgba(255,255,255,0) 5%
    );
    opacity: 0.7;
    filter: contrast(2) brightness(1);
}


.can.current{
background-position: calc(0 * var(--spin) + var(--offset)) calc(var(--can-height) * var(--can-pattern-offset)), 0 0;
  z-index: 7;
  --spin-time: 2.5s;
  animation: spin-in var(--spin-time) ease-out;
}

@keyframes spin-in{
  0%{
    background-position: calc(0.6 * var(--spin) + var(--offset)) calc(var(--can-height) * var(--can-pattern-offset)), 0 0;
    filter: brightness(1.8) drop-shadow(6px 6px 25px rgba(255, 255, 255, 0.757)); filter: brightness(1) drop-shadow(-6px -6px 25px rgba(255, 255, 255, 0.757));
  }
  2%{
    filter: brightness(1);
  }
  100%{
    background-position: calc(3 * var(--spin) + var(--offset)) calc(var(--can-height) * var(--can-pattern-offset)), 0 0;
  }
}


.can.leaving{
  animation: spin-out 2s ease-in;
}

@keyframes spin-out{
  0%{
    background-position: calc(0 * var(--spin) + var(--offset)) calc(var(--can-height) * var(--can-pattern-offset)), 0 0;
  }
  98%{
    filter: brightness(1);
  }
  100%{
    background-position: calc(2.5 * var(--spin) + var(--offset)) calc(var(--can-height) * var(--can-pattern-offset)), 0 0;
    filter: brightness(1.8) drop-shadow(6px 6px 25px rgba(255, 255, 255, 0.757)); filter: brightness(1) drop-shadow(-6px -6px 25px rgba(255, 255, 255, 0.757));
  }
}

/* 
    CAN END
*/

.button{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 50%;
  font-size: 5rem;
  font-family:'Indie Flower';
  transition: background 3.2s ease 0.5s,
              transform 0.5s ease-in-out,
              filter 0.5s ease-in-out;
  cursor: pointer;
}

.button-wrapper .rotate-icon{
  z-index: 3;
  pointer-events: none;
  position: absolute;
  top: 50%;
  width: 50%;
  height: auto;
  transform-origin: center;
  stroke: var(--solaris);
  left: 8%;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
}

.button-wrapper:hover .rotate-icon{
  transition: transform 0.4s ease-out 0.3s;
  animation: rotate 0.3s linear 0.5s 2;
}

@keyframes rotate{
  0%{
    transform: translateY(-50%) rotate(0deg);
  }
  100%{
    transform:  translateY(-50%) rotate(180deg);
  }
}

.button-wrapper{
  --button-size: min(300px,24vw);
  width: var(--button-size);
  height: var(--button-size);
  top: 43vh;
  transform: translateY(-50%);
  position: fixed;
  right: calc(-0.4 * var(--button-size));
  z-index: 5;
  pointer-events: auto;
}

.button-wrapper:hover .button{
  filter: brightness(1.1);
  transform-origin:  right center;
  transform: translateY(-50%) scale(1.06,1.05);

  transition: background 1.2s ease 0.5s,
              filter 0.5s ease-in,
              transform 0.7s ease-out;
}

/*
    STICKY ELEMENTS END
*/

/* 
  IN FLOW ELEMENTS
*/

.slogan-line{
  position: relative;
  color: var(--solaris);
  font-family: "Henny Penny";
  font-size: min(8.5vw,11rem);
  font-weight: 600;
  line-height: 1.2;
  width: 100%;
  text-align: center;
  margin-bottom: 0.4em;
  z-index: 5;
}

.slogan-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 25vh;
  mix-blend-mode: soft-light;
  pointer-events: none;
  z-index: 5;
}

/* 
    DRINK INFO SECTION
*/

@media (max-aspect-ratio: 6 / 5) {
  :root{
    --frameInvisible: 1;
  }
}

/*
    ^^ Leave space for text if screen is too narrow
*/

.frame{
  position: absolute;
  transform-origin: bottom;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  opacity: calc(1 - var(--frameInvisible));
  stroke: var(--solaris);
  fill: var(--solaris);
  z-index: 5;
  --dynamic-height: 80vh;
  --dynamic-width: min(calc((3/4) * 80vh),40vw);

  width: var(--dynamic-width);
  height: var(--dynamic-height);
}

@keyframes dash-move{
  from{
    stroke-dashoffset: 0;
  }
  to{
    stroke-dashoffset: 400;
  }
}



.drink-info-table{
  position: absolute;
  z-index: 7;
  aspect-ratio: 6 / 5;
  bottom: 10%;
  left: 0;
  width: var(--info-table-width);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  --cell-gap: 2px;
  gap: var(--cell-gap);
  border: 1px white;
}

.drink-info-table::before{
  content: "Per 100ml";
  position: absolute;
  font-family: "Indie Flower";
  font-size: calc(var(--info-table-width) * 0.1);
  transform-origin: bottom;
  color: var(--button-colour1);
  left: 50%;
  transform: translateX(-50%);
  top: -1.4em;
}

.drink-cell{
  --info-cell-width: calc(1 / 3 * (var(--info-table-width)) - calc(var(--cell-gap) / 2));
  width: var(--info-cell-width);
  height: calc(50% - 2px - calc(var(--cell-gap) / 2));
  overflow: hidden;
  position: relative;
}

.info-cell{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
}

.info-title{
  color: var(--button-colour1);
  font-family: "Indie Flower";
  font-size: min(calc(var(--info-cell-width) * (0.16 + 0.04 * var(--frameInvisible))), 1.6rem);
  font-weight: 600;
  text-align: center;
  width: 100%;
  padding-bottom: calc(1.8em - (var(--frameInvisible) * 1em));
}

.info-value{
  width: 100%;
  color: var(--solaris);
  font-weight: 600;
  -webkit-text-stroke: 1.5px var(--solaris);
  paint-order: stroke fill;
  font-family: "Indie Flower";
  transition: color 3.2s ease 0.7s;
  font-size: min(calc(var(--info-cell-width) * 0.25), 2.5rem);
  text-align: center;
}

.info{
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(120%);
  transition: opacity 0.4s linear,
              transform 0.6s ease-in;
}

.info.visible{
  animation: cell-appear 1s ease-out;
  --opacity-appear: 0.15;
  opacity: 1;
  transform: translateY(0);
}

@keyframes cell-appear {
  0%{
    transform: translateY(-120%);
    opacity: 0.1;
  }
  70%{
    opacity: var(--opacity-appear);
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.description-wrapper{
  position: absolute;
  min-width: min(65%, 25vh);
  left: 50%;
  top: 30%;
  transform: translate(-50%);
  height: 65%;
  z-index: 7;
  overflow: hidden;
}

.description{
  text-align: center;
  font-size: clamp(1.7rem, calc(0.08 * var(--info-table-width)), 2.2rem);
  font-weight: 600;
  font-family: "Indie Flower";
  color: var(--button-colour1);
}

.drink-name-wrapper{
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  aspect-ratio: 1 / 1;
  z-index: 7;
  overflow: hidden;
}

.description.info.visible{
   --opacity-appear: 0.08;
}

.drink-name{
  font-family: "Henny Penny";
  font-size: min(4.5rem, calc(0.2 * var(--info-table-width)));
  font-weight: 500;
  text-align: center;
  color: var(--button-colour1);
  -webkit-text-stroke: 3px var(--solaris);
  paint-order: stroke fill;
}

.border-wrapper-vertical{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  box-sizing: border-box;
  width: calc(100% / 3);
  height: 100%;
  padding: var(--border-margin) 0;
  --border-margin: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: calc(var(--border-margin) * 2) 90%;
}

.dash-border-vertical{
  stroke: var(--solaris);
  height: calc(50% - var(--border-margin));
  width: 1px;
  stroke-width: 1px;
  stroke-dasharray: calc(100% / 40);
  transition: opacity 0.4s ease;
  animation: dash-scroll 15s infinite linear;
}

.border-wrapper-horizontal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.dash-border-horizontal{
  stroke: var(--solaris);
  width: 100%;
  height: 1px;
  stroke-width: 1px;
  stroke-dasharray: calc(100% / 120);
  opacity: var(--dash-border-opacity);
  transition: opacity 0.5s ease;
  animation: dash-scroll 35s infinite linear;
}

.dash-border-horizontal:nth-of-type(1){
  opacity: 1;
}

@keyframes dash-scroll {
  0%{
    stroke-dashoffset: 0;
  }
  100%{
    stroke-dashoffset: 100%;
  }
  
}

.dash-border-horizontal:nth-of-type(n+2){
  opacity: var(--dash-border-opacity);
}

.info-section{
  padding: 18vh 0 0 0;
  box-sizing: border-box;
  height: calc(100vh - var(--nav-height));
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.info-col{
  position: relative;
  height: 100%;
}

.info-col.right{
  width: var(--info-table-width);
  --info-table-width: clamp(31.5vmin,calc(22.5vmax + var(--frameInvisible) * 1vmax), 43vmin);
  margin-right: calc(4vw - (var(--frameInvisible) * 2.5vw));
}

.info-col.left{
  width: var(--info-table-width);
  --info-table-width: calc(32vw + var(--frameInvisible) * 4vmax);
}